torch
torchvision
torchaudio
torch-tb-profiler
tensorflow
tensorflow-metal; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorboard
numpy
pandas
matplotlib
scikit-image
scikit-learn
scipy
opencv-python
cython
numba
tifffile
paramiko
beautifulsoup4
segmentation-models-pytorch
simpleitk
shapely
fastdtw
selenium
pyautogui
pynput
pygame
networkx
jax
optax
flax
tqdm
einops
openai
transformers
flask
markdown
markupsafe
gradio
onnx
onnxruntime; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorrt; sys_platform != 'darwin' or platform_machine != 'arm64'
pycuda; sys_platform != 'darwin' or platform_machine != 'arm64'
jupyter
isort
black
flake8
flake8-pyproject
